.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.mainApp{
  display: flex;
  height: fit-content;
  padding-left: 20%;
}
.sidebar{
  position: fixed;
  left:0px;
  top:0;
  width: 18%;
  min-height: 100vh !important;
  padding-right: 1rem;
  background-color: white;
}
.sidebar a{
  display: block;
  background-color: #111439;
  margin:1rem 0rem 1rem 0.5rem;
  padding:1rem 0.5rem;
  color:#F8F8F9;
  border-radius: 20px;
  text-decoration: none;
}

.sidebar a:hover{
  width: 110%;
  color:#F8F8F9;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width:600px){
  
  .sidebar a{
    width: 90%;
    font-size: 0.8rem;
    margin:0.5rem 0rem 1rem 0.5rem;
    padding:0.5rem 0.25rem;
    text-align: center;
  }
}
